<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/cite.css" type="text/css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
    <title>Shoe Shelf</title>
</head>

<body>
    <header>
        <nav>
            <ul>

                {{#if user}}

                <li><a href="/product/create">Create new offer</a></li>
                <li><a href="/"><img src="/static/favicon.png" alt=""></a></li>
                <li>Welcome, {{user.email}} |<a href="/auth/logout">Logout</a></li>

                {{else}}

                <li class="site-logo">Shoe</li>
                <li><a href="/"><img src="/static/sneakers.png" alt=""></a></li>
                <li class="site-logo">Shelf</li>

                {{/if}}

            </ul>
        </nav>
    </header>

    {{#if error}}
    <section class="notifications">
        <p class="notification-message">{{error.message}}</p>
    </section>
    {{/if}}

    {{{body}}}

    <footer>
        <p><a href="https://softuni.bg">Software University</a> - JS Back-End @ 2020</p>
    </footer>
</body>

</html>